{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": 2,
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "comma",   
        "requireLast": true
      },
      "singleline": {
        "delimiter": "comma",  
        "requireLast": false
      }
    }],
    "@typescript-eslint/explicit-function-return-type": ["error",
      {
        "allowExpressions": true
      }
    ]
  }
}