// App colors

$PURE-WHITE : #FFFFFF;
$MATTE-BLACK: #282C34;
$TURQUOISE-BLUE: #61DAFB;
$PERSIAN-RED: #DB332E;
$DARK-RED: #8D0400;
$MARINER-BLUE: #3B5998;
$SAPPHIRE-BLUE: #14306B;
$CHARCOAL-BLUE: #24292D;
$LIGHT-GREY: #CECECE;
$DARK-GREY: #7F7E7E;