@import './colors.scss';

.submit-project-container {
  padding-top: 2rem;
  padding-bottom: 8rem;
  background-color: $MATTE_BLACK;
}

.form-container {
  background-color: white;
  margin: 0rem 15rem;
  padding: 3rem 5rem;


  .inputField {
    padding-top: 0.5rem;
    border-radius: 10px;
    width: 70%;
  }
}