// App colors

$PURE-WHITE : #FFFFFF;
$MATTE-BLACK: #282C34;
$TURQUOISE-BLUE: #61DAFB;
$PERSIAN-RED: #DB332E;
$DARK-RED: #8D0400;
$MARINER-BLUE: #3B5998;
$SAPPHIRE-BLUE: #14306B;
$CHARCOAL-BLUE: #24292D;
$LIGHT-GREY: #CECECE;
$DARK-GREY: #7F7E7E;

.App {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: $MATTE-BLACK;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:$PURE-WHITE;
}

.App-link {
  color: $TURQUOISE-BLUE;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body{
   max-width: 100%;
   overflow-x: hidden;
}

.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.loader {
  border: 16px solid $PURE-WHITE;
  border-radius: 50%;
  border-top: 16px solid $DARK-GREY;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  &.dark-spinner {
    border: 16px solid $LIGHT-GREY;
    border-radius: 50%;
    border-top: 16px solid $MATTE-BLACK;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* down arrow */
  .downArrow {
   color: $PURE-WHITE;
   text-decoration: none;
  }

  .fa-arrow-down:hover {
    text-decoration: none;
  }

.arrow {
  text-align: center;
  margin: 8% 0;
  text-decoration: none;
  a:hover {
    color: $PURE-WHITE;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* projects div */
#projects {
  padding-top: 5%;
}


  .like-container {
    height: 36px;
    border: 4px ;
    display: inline-flex;
    text-align: center;
  }

  .like {
    width: 60px; // TODO: find out why absolute values cannot be used here
    color: $PURE-WHITE;
    text-shadow: none;
    background-color: $PERSIAN-RED;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    justify-content: center;
    padding-top: 6px;
    cursor: pointer;
    &:hover {
      background-color: $DARK-RED;
    }
    & p {
      margin: 0
    }
  }

  .likeCount {
    background-color: $PURE-WHITE;
    padding-left: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: $PERSIAN-RED;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 6px;
    padding-right: 10px;
    & p {
      margin: 0
    }
  }

  .sign-in-modal {
    text-align: center;
    & hr {
      margin-bottom: 60px;
    }
  }

  .social-signin-button {
    width: 100%;
    height: 48px;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    & p {
      margin-bottom: 0px;
      width: 130px;
    }
    &.facebook {
      background-color: $MARINER-BLUE;
      color: $PURE-WHITE;
      &:hover {
        background-color: $SAPPHIRE-BLUE;
      }
    }
    &.google {
      background-color: $PURE-WHITE;
      border-style: solid;
      border-width: 0.5px;
      border-color: $CHARCOAL-BLUE;
      &:hover {
        background-color: $LIGHT-GREY;
      }
    }
    &.github {
      background-color: $CHARCOAL-BLUE;
      color: $PURE-WHITE;
      &:hover {
        background-color: $DARK-GREY;
      }
    }
  }

  .sign-out-modal {
    text-align: center;
    margin-bottom: 15px;
    & hr {
      margin-bottom: 40px;
    }
  }

  .sign-out-modal .sign-out-modal-yes {
    margin-right: 50px;
  }

  .sign-out-modal .sign-out-modal-no {
    margin-left: 50px;
  }

  .modal-button-container {
    margin-top:3rem;
    text-align: end;
    .btn-outline-info {
      margin-left: 2rem;
    }
  }

.removeOverflowText {
  overflow-wrap: break-word;
}

.inputField {
  display: grid;
  margin-bottom: 5%;
}

label {
  margin-left: 0.4rem;
}

.response-message-container {
  width: 100%;
  text-align: center;
}

.error-message {
  color: $PERSIAN-RED;
  margin-bottom: 3rem;
}

.modalCloseButton {
  display: flex;
  justify-content: flex-end;
}